<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/side.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png" type="image/x-icon" data-next-head="">
</head>
<body>
    <div class="main-side-container">
        <aside class="main-side-wrapper">

            <aside class="side-bar-wrap">
                <div class="side-bar-poster">
                    <img src="/images/poster1.jpg" width="320" height="280">
                </div>
                <div class="side-bar-poster">
                    <img src="/images/poster2.jpg" width="320" height="280">
                </div>
                <div class="side-bar-poster">
                    <img src="/images/poster3.jpg" width="320" height="280">
                </div>
                <div class="side-bar-poster">
                    <img src="/images/poster4.jpg" width="320" height="280">
                </div>
                <div class="side-bar-poster">
                    <img src="/images/poster5.jpg" width="320" height="300">
                </div>
            </aside>
        <div class="main-side-footer-container">
            <ul class="main-side-footer-wrapper">
                <li>
                    <a>
                        <span class="main-side-footer-categories">이용약관</span>
                    </a>
                </li>
                <div class="main-side-footer-categories-icon"></div>
                <li>
                    <a>
                        <span class="main-side-footer-categories">개인정보처리방침</span>
                    </a>
                </li>
            </ul>
            <ul class="main-side-footer-wrapper">
                <li>
                    <a>
                        <span class="main-side-footer-categories">유료 서비스 이용약관</span>
                    </a>
                </li>
                <div class="main-side-footer-categories-icon"></div>
                <li>
                    <a>
                        <span class="main-side-footer-categories">광고 문의</span>
                    </a>
                </li>
            </ul>
            <ul class="main-side-footer-wrapper">
                <li>
                    <a href="service-info">
                        <span class="main-side-footer-categories">서비스 소개</span>
                    </a>
                </li>
                <div class="main-side-footer-categories-icon"></div>
                <li>
                    <a>
                        <span class="main-side-footer-categories">커뮤니티 보상 시스템 소개</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    </div>
<script src="/static/js/main/side/event.js"></script>
</body>
</html>