<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/member/emailcheck.css" />
  <title>이메일로 계정 찾기</title>

</head>
<body>
  <div class="container">
    <h2>비밀번호 찾기</h2>
    <form id="account-recovery-form" action="/mail/send" method="post">
      <label for="email">이메일 주소</label>
      <input type="email" id="email" name="memberEmail" required />
      <button type="submit">계정 찾기</button>
    </form>
    <div class="message" id="message"></div>
  </div>
</body>
</html>
