<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>골든타임 로그인 시작</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/member/joinmain.css" />
    <link rel="shortcut icon" href="/images/golden-time-favicon.png" type="image/x-icon" data-next-head="">

</head>
<body>
<div class="container">
    <div class="title">로그인</div>
    <div class="button-group">
        <div>
            <button class="button" onclick="location.href='/member/login?memberRole=member'">
                일반 회원
            </button>
            <!-- <span class="button-label">일반회원가입</span> -->
        </div>
        <div>
            <button class="button" onclick="location.href='/member/login?memberRole=doctor'">
                의사 회원
            </button>
            <!-- <span class="button-label">의사회원가입</span> -->
        </div>
    </div>
</div>
</body>
</html>