<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.memberfile.MemberFileMapper">
    <select id="getMemberProfile">
        select
            tm.id as memberId,
            tm.member_name as memberName,
            tm.member_email as memberEmail,
            tm.member_phone as memberPhone,
            tm.member_provider as provider,
            tm.member_kakao_email as kakaoEmail,
            tm.member_kakao_profile_url as kakaoProfileUrl,
            f.id as fileId,
            f.file_name as fileName,
            f.file_path as filePath
        from tbl_member tm
                 left join tbl_member_file mf on tm.id = mf.member_id
                 left join tbl_file f on mf.file_id = f.id
        where tm.id = #{memberId}
    </select>

    <insert id="insertFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into tbl_file(file_original_name, file_name, file_path, file_size)
        values (#{fileOriginalName}, #{fileName}, #{filePath}, #{fileSize})
    </insert>

    <insert id="insertMemberFile">
        insert into tbl_member_file(file_id, member_id)
        values (#{fileId}, #{memberId})
    </insert>

    <select id="findFileIdByMemberId" resultType="long">
        select file_id from tbl_member_file where member_id = #{memberId}
    </select>

    <delete id="deleteMemberFile">
        delete from tbl_member_file
        where member_id = #{memberId}
    </delete>

    <delete id="deleteFileByFileId">
        delete from app.tbl_file
        where app.tbl_file.id = #{fileId}
    </delete>

    <select id="selectMemberFile">
        select file_id, member_id, file_name, file_path, file_size, file_original_name, created_datetime, updated_datetime
        from view_member_file
        where member_id = #{memberId}
    </select>
</mapper>
