<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.doctor.DoctorMapper">
    <insert id="insertDoctor" parameterType="com.example.back.dto.doctor.DoctorListDTO">
        insert into tbl_doctor (
            member_id,
            doctor_license_number,
            doctor_specialty,
            hospital_id,
            doctor_status
        )
        values (
           #{memberId},
           #{doctorLicenseNumber},
           #{doctorSpecialty},
           #{hospitalId},
           #{doctorStatus}
        )
    </insert>
    <select id="selectAll" parameterType="com.example.back.util.Criteria"
            resultType="com.example.back.dto.doctor.DoctorListDTO">
        SELECT
            d.member_id        AS memberId,
            m.member_name      AS memberName,
            d.doctor_specialty AS doctorSpecialty,
            d.doctor_status    AS doctorStatus,
            m.id               AS id,
            m.created_datetime AS createdDatetime,
            m.updated_datetime AS updatedDatetime,
            h.hospital_name    AS hospitalName,
            h.hospital_phone   AS hospitalPhone,
            ha.road_address    AS roadAddress,
            ha.detail_address  AS detailAddress,
            (SELECT COUNT(*)
             FROM tbl_likes l
             WHERE l.doctor_id = d.member_id) AS likesCount,
            EXISTS(SELECT 1
                   FROM tbl_likes l
                   WHERE l.doctor_id = d.member_id
                     AND l.member_id = #{currentMemberId}) AS liked
        FROM tbl_doctor d
                 JOIN tbl_member m ON d.member_id = m.id
                 JOIN tbl_hospital h ON d.hospital_id = h.id
                 JOIN tbl_hospital_address ha ON h.id = ha.hospital_id
        WHERE d.doctor_status = 'ACTIVE'
        ORDER BY d.member_id DESC
        LIMIT #{rowCount} OFFSET #{offset}
    </select>

    <select id="selectCountAll">
        select count(*) from tbl_doctor
        where doctor_status = 'active'
    </select>
</mapper>