<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.doctor.DoctorListMapper">
    <insert id="insertDoctor" parameterType="com.example.back.dto.doctor.DoctorListDTO">
        insert into tbl_doctor (
            member_id,
            doctor_license_number,
            doctor_specialty,
            hospital_id,
            doctor_status
        )
        values (
           #{memberId},
           #{doctorLicenseNumber},
           #{doctorSpecialty},
           #{hospitalId},
           #{doctorStatus}
        )
    </insert>
    <select id="selectDoctorList">
        select
            d.member_id,
            m.member_name,
            d.doctor_specialty,
            d.doctor_status,
            m.id,
            m.created_date,
            m.updated_date,
            h.hospital_name,
            h.hospital_phone,
            ha.road_address,
            ha.detail_address
        from tbl_doctor d
                 join tbl_member m on d.member_id = m.id
                 join tbl_hospital   h on d.hospital_id = h.id
                 join tbl_hospital_address ha on h.id = ha.hospital_id
        where d.doctor_status = 'active'
    </select>

    <select id="selectCountAll">
        select count(*) from tbl_doctor
        where doctor_status = 'active'
    </select>
</mapper>