<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.inquiry.InquiryMapper">
    <select id="selectInquiriesByEmailOrId">
        select sub.id as id,
        sub.inquiries_title as inquiry_title,
        sub.inquiries_content as inquiry_content,
        sub.created_datetime as created_datetime,
        sub.member_email as member_email,
        sub.has_answer as has_answer,
        sub.answer_datetime as answer_datetime
        from view_inquiry_member_reply sub
        <where>
            <if test='query != null and query !=""'>
                (sub.member_email like concat('%', #{query} , '%')
                or sub.id = #{query})
            </if>
            <if test='answerStatus == "no"'>
                and sub.reply_id IS NULL
            </if>

            <if test='answerStatus == "yes"'>
                and sub.reply_id IS NOT NULL
            </if>

        </where>
        order by sub.id desc
        limit 17 offset #{offset}
    </select>
    
    
    <select id="selectAnswerCounts">
        select ifnull(sum(if(tir.id is not null, 1, 0)),0) as answer_count,
               ifnull(sum(if(tir.id is null, 1, 0)),0)     as no_answer_count
        from tbl_inquiries ti
                 left outer join tbl_inquiries_reply tir
                                 on ti.id = tir.inquiries_id
                                     where ti.inquiries_status = 'active';
    </select>

    <select id="selectActiveInquiryWithReplyById">
        select id,
               inquiries_title         AS inquiry_title,
               inquiries_content       AS inquiry_content,
               created_datetime,
               member_email,
               inquiries_reply_content AS inquiry_reply_content
        from view_inquiry_member_reply
        where id = #{inquiriesId}

    </select>
</mapper>