<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.inquiry.InquiryMapper">
    <sql id="search">
        <where>
            <if test='search.keyword != null and search.keyword !=""'>
                (sub.member_email like concat('%', #{search.keyword} , '%')
                or sub.id = #{search.keyword})
            </if>

            <if test="search.categories.length gt 0 and search.categories[0] lte 1">
                and sub.has_answer = #{search.categories[0]}
            </if>
        </where>
    </sql>
    <select id="selectInquiriesByEmailOrId">
        select sub.id as id,
        sub.inquiries_title as inquiry_title,
        sub.inquiries_content as inquiry_content,
        sub.created_datetime as created_datetime,
        sub.member_email as member_email,
        sub.has_answer as has_answer,
        sub.answer_datetime as answer_datetime
        from view_inquiry_member_reply sub
        <include refid="search"/>
        order by sub.id desc
        limit #{scrollCriteria.count} offset #{scrollCriteria.offset}
    </select>
    
    
    <select id="selectAnswerCounts">
        select
        sum(case when sub.has_answer = 1 then 1 else 0 end) as answer_count,
        sum(case when sub.has_answer = 0 then 1 else 0 end) as no_answer_count
        from view_inquiry_member_reply sub
        <include refid="search"/>
    </select>

    <select id="selectActiveInquiryWithReplyById">
        select id,
               inquiries_title         AS inquiry_title,
               inquiries_content       AS inquiry_content,
               created_datetime,
               member_email,
               has_answer,
               inquiries_reply_content AS inquiry_reply_content
        from view_inquiry_member_reply
        where id = #{inquiriesId}

    </select>
</mapper>