<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.consultationpost.ConsultationPostMapper">
    <select id="select5OrderByViewCountDesc">
        select tcp.id,
               tcp.consultation_post_title        as consultation_post_title,
               tcp.consultation_post_content      as consultation_post_content,
               tcp.consultation_post_view_count   as consultation_post_view_count,
               tcp.consultation_post_answer_count as consultation_post_answer_count,
               tcp.member_id                      as member_id,
               tcp.created_date                   as created_date,
               IF(tm.member_provider = 'kakao', tm.member_kakao_profile_url, vmf.file_path)
                                                  as member_file_path,
               tm.member_name                     as member_name
        from (select id,
                     consultation_post_title,
                     consultation_post_content,
                     consultation_post_view_count,
                     consultation_post_answer_count,
                     member_id,
                     created_date
              from tbl_consultation_post
              where consultation_post_status = 'active'
              order by consultation_post_view_count desc
              limit 5 offset #{offset}) tcp
                 join tbl_member tm on tcp.member_id = tm.id
                 left join view_member_file vmf on tm.id = vmf.member_id;
    </select>
</mapper>