<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.consultationpost.ConsultationPostMapper">
    <select id="select5OrderByViewCountDesc">
        select tcp.id,
               tcp.consultation_post_title        as consultation_post_title,
               tcp.consultation_post_content      as consultation_post_content,
               tcp.consultation_post_view_count   as consultation_post_view_count,
               tcp.consultation_post_answer_count as consultation_post_answer_count,
               tcp.member_id                      as member_id,
               tcp.created_datetime               as created_datetime,
               tm.member_provider                 as member_provider,
               IF(tm.member_provider = 'kakao', tm.member_kakao_profile_url, concat(vmf.file_path, '/', vmf.file_name))
                                                  as member_file_path,
               tm.member_name                     as member_name
        from tbl_member tm
                 left outer join view_member_file vmf on tm.id = vmf.member_id
                 join tbl_consultation_post tcp on tcp.member_id = tm.id
            and tcp.consultation_post_status = 'active'
        order by consultation_post_view_count desc
        limit #{rowCount} offset #{offset};

    </select>
</mapper>