<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.member.MemberMapper">
    <insert id="insertMember" parameterType="com.example.back.domain.member.MemberVO" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_member(member_email, member_password, member_name, member_phone)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberPhone})
    </insert>
    <select id="selectMembers">
        select id,
        member_email,
        member_name,
        member_phone,
        member_status,
        member_provider as provider,
        member_kakao_email as kakao_email,
        created_datetime
        from tbl_member
        where member_role = 'member'
        <if test='search.keyword !=null and search.keyword !=""'>
            and ( member_name like concat('%', #{search.keyword}, '%') or
            member_email like concat('%', #{search.keyword}, '%') or
            member_kakao_email like concat('%', #{search.keyword}, '%')
            )
        </if>
        order by id desc
        limit #{criteria.count} offset #{criteria.offset}
    </select>

    <select id="selectCountAllStatus">
        select count(id)
        from tbl_member
        where member_role = 'member'
        <if test='search.keyword !=null and search.keyword !=""'>
            and ( member_name like concat('%', #{search.keyword}, '%') or
            member_email like concat('%', #{search.keyword}, '%') or
            member_kakao_email like concat('%', #{search.keyword}, '%')
            )
        </if>
    </select>

    <select id="selectMemberByIdAllStatus">
        select id,
               member_email,
               member_password,
               member_name,
               member_phone,
               member_status,
               member_provider as provider,
               member_kakao_email as kakao_email,
               member_vita_amount,
               created_datetime
        from tbl_member
        where id = #{id}
    </select>

    <update id="updateDoctorStatusToRejected">
        update tbl_member
        set member_status = 'inactive'
        where id=#{memberId}
    </update>
</mapper>
