<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임 관리자</title>

    <link rel="stylesheet" href="/css/admin/font.css">
    <link rel="stylesheet" href="/css/admin/mainpage.css">
    <link rel="stylesheet" href="/css/admin/inquiry.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png">
<body>
                <div th:fragment="main-page" class="page ana-user-index wide-page" id="mainPage">
                    <div class="page-header">
                        <div class="page-title">HOME</div>
                        <div class="page-subtitle"></div>
                    </div>
                    <div class="page-body">
                        <div class="tab-box">
                            <div class="tab-row white-panel">
                                <div class="row">
                                    <div class="col col-auto">
                                        <ul class="tab-name-list list-unstyled list-inline">
                                            <!-- 클릭 한 부분은 active -->
                                            <li class="tab-name checked">회원 분석</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-body">
                                <div class="tab-wrapper user-tab">
                                    <div class="chart-row row">
                                        <div class="col-12 col-xl-8">
                                            <div class="chart-row row">
                                                <!-- 일반회원 방문자, 게시글 수 -->
                                                <div class="col-12 col-lg-6 statics-graph">
                                                    <div class="chart-box">
                                                        <div class="chart-wrapper">
                                                            <div id="joinChart" class="echarts-for-react boot-chart height-300"
                                                                 _echarts_instance_="ec_1754465654340"
                                                                 size-sensor-id="97"
                                                                 style="height: 300px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 희사회원 방문자, 답글 횟수 -->
                                                <div class="col-12 col-lg-6 statics-graph">
                                                    <div class="chart-box">
                                                        <div class="chart-wrapper">
                                                            <div id="visitedChart" class="echarts-for-react boot-chart height-300"
                                                                 _echarts_instance_="ec_1754465654340"
                                                                 size-sensor-id="97"
                                                                 style="height: 300px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chart-box access-data-list">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-3">
                                                        <div class="access-data data-member-time">
                                                            <div class="title">오늘 방문자 수</div>
                                                            <div class="value">
                                                            <span class="icon">
                                                                <i class="mdi mdi-timer-outline"></i>
                                                            </span>
                                                                <span class="unit" id="todayVisitCount"></span>
                                                                <span class="unit">명</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-3">
                                                        <div class="access-data data-member-page">
                                                            <div class="title">이번 달 방문자 수</div>
                                                            <div class="value">
                                                            <span class="icon">
                                                                <i class="mdi mdi-file-send-outline"></i>
                                                            </span>
                                                                <span class="unit" id="monthlyVisitCount"></span>
                                                                <span class="unit">명</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-3">
                                                        <div class="access-data data-non-member-time">
                                                            <div class="title">오늘 가입자 수</div>
                                                            <div class="value">
                                                            <span class="icon">
                                                                <i class="mdi mdi-timer-outline"></i>
                                                            </span>
                                                                <span class="unit" id="todayJoinCount"></span>
                                                                <span class="unit">명</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-3">
                                                        <div class="access-data data-member-page">
                                                            <div class="title">이번 달 가입자 수</div>
                                                            <div class="value">
                                                            <span class="icon">
                                                                <i class="mdi mdi-file-send-outline"></i>
                                                            </span>
                                                                <span class="unit" id="monthlyJoinCount"></span>
                                                                <span class="unit">명</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
<script src="/js/admin/inquiry/module/service.js"></script>
<script src="/js/admin/inquiry/module/layout.js"></script>
<script src="/js/admin/mainpage/event.js"></script>
<!--<script src="/js/admin/mainpage.js"></script>-->
</html>