<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임 관리자</title>
    <link rel="stylesheet" href="/css/admin/payment.css">
    <link rel="stylesheet" href="/css/admin/font.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png">


</head>
<body>
<div th:fragment="payment" class="page wide-page receipt-index" id="payment" style="display: none">
    <div class="page-header">
        <div class="page-title">결제내역조회</div>
        <div class="page-subtitle">조건을 설정하여 조회할 수 있습니다</div>
    </div>
    <div class="page-body">
        <div class="amount-section">
            <div class="amount-box revenue-box">
                <div class="row">
                    <div class="col-auto title-col">
                                    <span class="badge-label text-primary icon-label mr-3">
                                        <i class="mdi mdi-check">

                                        </i>
                                    </span>
                        <span class="badge-label">결제승인</span>
                    </div>
                    <div class="col text-right amount-col">
                        <span class="span-amount" id="successMoney">0</span>
                        <span class="amount-unit">원</span>
                    </div>
                </div>
            </div>
            <div class="amount-box cancel-box">
                <div class="row">
                    <div class="col-auto title-col">
                                    <span class="badge-label text-danger icon-label mr-3">
                                        <i class="mdi mdi-close">
                                        </i>
                                    </span>
                        <span class="badge-label">결제취소</span>
                    </div>
                    <div class="col text-right amount-col">
                        <span class="span-amount" id="cancelMoney">0</span>
                        <span class="amount-unit">원</span>
                    </div>
                </div>
                <div class="extra-info collapse" id="extra-sum-collapse">
                    <div class="amount-box extra-box">
                        <div class="sub cancel">
                            <table class="sub-table">
                                <tbody>
                                <tr>
                                    <td class="td-icon">
                                                        <span class="badge-label text-danger icon-label">
                                                            <i class="mdi mdi-close"></i>
                                                        </span>
                                    </td>
                                    <td class="td-title">
                                        <span class="badge-label">매입 전 취소 (전체취소)</span>
                                    </td>
                                    <td class="td-operator">=</td>
                                    <td class="td-amount">
                                        <span class="span-amount">0</span>
                                    </td>
                                    <td class="td-unit">
                                        <span class="amount-unit calc calc-plus">원</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-icon">
                                                        <span class="badge-label text-warning icon-label">
                                                            <i class="mdi mdi-bank-outline"></i>
                                                        </span>
                                    </td>
                                    <td class="td-title">
                                        <span class="badge-label">취소 과세금액</span>
                                    </td>
                                    <td class="td-operator">=</td>
                                    <td class="td-amount">
                                        <span class="span-amount">0</span>
                                    </td>
                                    <td class="td-unit">
                                        <span class="amount-unit">원</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-icon">
                                                        <span class="badge-label text-warning icon-label">
                                                            <i class="mdi mdi-bank-outline"></i>
                                                        </span>
                                    </td>
                                    <td class="td-title">
                                        <span class="badge-label">취소 비과세금액</span>
                                    </td>
                                    <td class="td-operator">+</td>
                                    <td class="td-amount">
                                        <span class="span-amount">0</span>
                                    </td>
                                    <td class="td-unit">
                                        <span class="amount-unit">원</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="table-layout white-panel">
                <div class="filter-section">
                    <div class="row">
                        <div class="col-auto">
                                        <span class="receipt-count">총
                                            <span class="count-amount" id="paymentCount">0</span>건
                                        </span>
                        </div>
                        <div style="display: flex; justify-content: space-between;flex: 1">
                        <div class="col-auto">
                            <div class="filter-wrapper filter-status" id="paymentPopMenuBtn">
                                <div class="boot-pop-checkbox">
                                    <button class="boot-pop-checkbox-filter-btn btn btn-outline-primary " id="paymentBtn">
                                        결제상태선택
                                        <i class="mdi mdi-menu-down">

                                        </i>
                                    </button>
                                    <div class="bt-pop-menu">
                                        <!-- 결제상태선택 창 클릭 이벤트 -->
                                        <div class="bt-pop-menu-back"></div>
                                        <div class="bt-pop-menu-context" id="paymentPopMenu" style="top: 0px; bottom: unset; left: -59.793px; right: unset; transform: scale(0.9, 0.9) translate3d(0px, 0px, 0px);">
                                            <ul class="list-wrapper list-unstyled">
                                                <li class="text-center font-weight-bold">결제상태선택</li>
                                                <li class="list-item row mb-2">

                                                    <div class="col col-6">
                                                        <button id="btn-select-all" class="btn btn-outline-default btn-sm">
                                                            <label>
                                                                <i class="mdi mdi-checkbox-multiple-marked mr-1">

                                                                </i>
                                                                전체선택
                                                            </label>
                                                        </button>
                                                    </div>
                                                    <div class="col col-6">
                                                        <button id="btn-deselect-all" class="btn btn-outline-default btn-sm">
                                                            <i class="mdi mdi-checkbox-multiple-marked-outline mr-1">
                                                            </i>
                                                            선택취소
                                                        </button>
                                                    </div>
                                                </li>
                                                    <li class="list-item first" id="paymentPending">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="boot-check d-flex align-items-center undefined all-check-btn">
                                                                <div class="boot-check-box payment-check-box" tabindex="0" style="width: 20px; height: 20px;">
                                                                    <label>
                                                                        <i class="mdi mdi-check btn-status" data-target="pay-progress">
                                                                        </i>
                                                                    </label>
                                                                </div>
                                                                <div class="boot-check-content flex-grow-1">결제진행중</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 상세 전체 선택 -->
                                                </li>
                                                <li class="list-item " id="paymentSuccess">
                                                    <div class="boot-check d-flex align-items-center undefined">
                                                        <div class="boot-check-box payment-check-box" tabindex="0" style="width: 20px; height: 20px;">
                                                            <label>
                                                            <i class="mdi mdi-check" style="display: none;"></i>
                                                            </label>
                                                        </div>
                                                        <div class="boot-check-content flex-grow-1">결제완료</div>
                                                    </div>
                                                </li>
                                                <li class="list-item" id="paymentCancel">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="boot-check d-flex align-items-center undefined all-check-btn">
                                                                <div class="boot-check-box payment-check-box" tabindex="0" style="width: 20px; height: 20px;">
                                                                    <label>
                                                                        <i class="mdi mdi-check btn-status" data-target="pay-fail"></i>
                                                                    </label>
                                                                </div>
                                                                <div class="boot-check-content flex-grow-1">결제실패</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                </div>
                            <div class="col-auto">
                                <div class="filter-wrapper" data-for="6ce46b37-6203-4ed9-848b-59542bd80c9d" data-toggle="tooltip" data-custom-class title data-original-title="필터초기화">
                                </div>
                            </div>
                            <div class="col text-right">
                                <div class="filter-wrapper filter-list-mode mr-3">
                                </div>
                            </div>

                        </div>
                        <div class="col-auto">
                            <div class="filter-wrapper filter-search ml-1">
                                <div class="input-group">
                                    <input class="form-control flex-grow-1" type="text" placeholder="상품명/주문번호/구매자정보" id="paymentKeyword">
                                    <div class="input-group-append">
                                        <button class="btn btn-search" id="paymentKeywordBtn">
                                            <span class="comp-icon icon-magnify" id="icons/ico-search.svg"><svg class="icon-img" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon-color fill" d="m13.523 12.463 3.212 3.211-1.06 1.061-3.212-3.212A6.72 6.72 0 0 1 8.25 15 6.752 6.752 0 0 1 1.5 8.25 6.752 6.752 0 0 1 8.25 1.5 6.752 6.752 0 0 1 15 8.25a6.72 6.72 0 0 1-1.477 4.213zm-1.504-.557A5.233 5.233 0 0 0 13.5 8.25C13.5 5.349 11.15 3 8.25 3A5.248 5.248 0 0 0 3 8.25c0 2.9 2.349 5.25 5.25 5.25a5.233 5.233 0 0 0 3.656-1.481l.113-.113z" fill="#292929"></path></svg></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="fill-table-layout">
                        <table class="table grey-header-table w-100 receipt-table">
                            <thead>
                            <tr>
                                <th class="td-name">
                                    상품명
                                    <div class="item-search-btn d-inline-block">
                                        <i class="mdi mdi-magnify">
                                        </i>
                                    </div>
                                </th>
                                <th class="td-amount text-right pr-4">결제금액</th>
                                <th class="td-method">결제수단</th>
                                <th class="td-status">결제상태</th>
                                <th class="td-at">요청/승인/취소 시각</th>
                                <th class="td-buyer">구매자</th>
                            </tr>
                            </thead>
                            <tbody id="paymentsTbody">

                            </tbody>
                        </table>
                    </div>
                    <nav class="bootpay-pagination-wrapper mt-5 mb-4">
                        <ul class="pagination bootpay-pagination payment-pagination">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/admin/payment/event.js"></script>
</html>