<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임 관리자</title>
    <link rel="stylesheet" href="/css/admin/register.css">
    <link rel="stylesheet" href="/css/admin/font.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png">
</head>
<body>
<div class="project-setting-index page wide-page" th:fragment="approval" id="approval">
    <div class="page-header">
        <div class="page-title">가입승인</div>
    </div>
    <div class="page-body">
        <div class="tab-view">
            <div class="tab-view-body" style="padding-top: 34px">
                <div class="page-contents">
                    <div class="table-layout white-panel">
                        <table class="table grey-header-table w-100 approval-table">
                            <thead>
                            <tr>
                                <th class="text-center">의사 고유 번호</th>
                                <th class="text-center">이름</th>
                                <th class="text-center">
                                    회원 면허 번호
                                </th>
                                <th class="text-center">승인 요청 일자</th>
                                <th class="text-center">상세</th>
                            </tr>
                            </thead>
                            <tbody id="approvalTbody">
                            <!-- 의사회원 -->
                            <tr>
                                <td class="td-member text-center">
                                    123412
                                </td>
                                <td class="approval-status text-center">이름</td>
                                <td class="td-role text-center">
                                    의사회원
                                </td>
                                <td class="td-time text-center">2025-08-03</td>
                                <td class="td-mng text-center">
                                    <button class="btn btn-light-danger btn-sm edit-btn action-btn">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </button>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="bootpay-pagination-wrapper mt-5 mb-4">
                        <ul class="pagination bootpay-pagination approval-pagination">
                        </ul>
                    </nav>
                    <!-- 일반회원 상세 모달 창 -->
                    <!-- 모달 창이 떠 있을 때 -->
                    <!-- <div class="modal fade member-modal show" style="display: block;" aria-modal="true" role="dialog"> -->
                    <!-- 모달 창이 뜨지 않을 때 -->
                    <div class="modal fade approval-modal" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" id="approval-modal-close">
                                        <i class="mdi mdi-close"></i>
                                        <div class="action-btn"></div>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="divider">
                                        <div class="tab-view">
                                            <div class="approval-tab tab-view-header"></div>
                                            <div class="tab-view-body">
                                                <div style="display: block;">
                                                    <div class="tab-inner tab-detail">
                                                        <!-- 일반회원 상세정보 -->
                                                        <div class="info-layout detail-info">
                                                            <div class="info-title justify-content-between">
                                                                <div class="flex-left d-flex">
                                                                    <div class="title">의사 상세정보</div>
                                                                </div>
                                                                <div class="flex-right"></div>
                                                            </div>
                                                            <div class="d-table w-100">
                                                                <!-- 테이블 왼쪽 -->
                                                                <div class="d-table-cell">
                                                                    <table class="info-table">
                                                                        <tbody>
                                                                        <tr>
                                                                            <th>이름</th>
                                                                            <td id="doctorDetailName">테스트01</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>병원 번호</th>
                                                                            <td id="doctorDetailHospitalPhone">
                                                                                010-1234-5678
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>병원</th>
                                                                            <td id="doctorDetailHospital">강남세브란스병원</td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>상세 주소</th>
                                                                            <td id="doctorDetailAddress">2025-06-12
                                                                        </tr>
                                                                        <tr>
                                                                            <th>우편 번호</th>
                                                                            <td id="doctorDetailZipCode">강남세브란스병원</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- 테이블 오른쪽 -->
                                                                <div class="d-table-cell">
                                                                    <table class="info-table">
                                                                        <tbody>
                                                                        <tr>
                                                                            <th>회원ID</th>
                                                                            <td id="doctorDetailId">TestId01</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>이메일</th>
                                                                            <td id="doctorDetailEmail">
                                                                                test01@gmail.com
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>병원 url</th>
                                                                            <td id="doctorDetailUrl">2025-07-29</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>진료과</th>
                                                                            <td id="doctorDetailSpecialty">남</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>면허번호</th>
                                                                            <td id="doctorDetailLicense">123456</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-outline-primary h45 mr-3 accept">승인</button>
                                    <button class="btn btn-primary h45 refuse">거절</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/admin/approval/event.js"></script>
</html>