<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.counselreply.CounselReplyMapper">
    <select id="selectTop3ConsultationPostsWithReplies">
        select tcp.consultation_post_title,
               tcp.consultation_post_status,
               tcr.counsel_reply_status,
               tcr.created_datetime
        from tbl_consultation_post tcp
                 join tbl_counsel_reply tcr
                      on tcp.id = tcr.consultation_post_id
        where doctor_id = #{doctorId}
        order by tcr.id desc
        limit 3;
    </select>

    <select id="selectRepliesWithPostTitleByDoctorId" parameterType="map" resultType="com.example.back.dto.counselreply.CounselReplyDTO">
        SELECT
            r.id AS id,
            r.counsel_reply_content AS counselReplyContent,
            r.counsel_reply_status AS counselReplyStatus,
            r.doctor_id AS doctorId,
            r.created_datetime AS createdDatetime,
            r.updated_datetime AS updatedDatetime,

            p.id AS consultationPostId,
            p.consultation_post_title AS consultationPostTitle,
            p.consultation_post_status AS consultationPostStatus

        FROM tbl_counsel_reply r
                 JOIN tbl_consultation_post p ON r.consultation_post_id = p.id
        WHERE r.doctor_id = #{doctorId}
        ORDER BY r.created_datetime DESC
        LIMIT #{criteria.rowCount} OFFSET #{criteria.offset}
    </select>

    <select id="countRepliesByDoctorId" resultType="int">
        SELECT COUNT(*)
        FROM tbl_counsel_reply
        WHERE doctor_id = #{doctorId}
    </select>
</mapper>